@import '../../../scss/colors';

.weapons ul{
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}

.weapon{
  margin: 0.2em 0;
  padding: 1em 0.5em 0.5em;
  background: $off-white;
  border-radius: 4px;
}
