.label{
  flex: 0 1 140px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700; 
  text-transform: uppercase; 
}

.labelSmall{
composes: label;
font-size: 0.8em;
}

.requiredMarker{
  font-size: 0.7em;
  margin-left: 0.2em;
  font-weight: bold;
  vertical-align: super;
}