.grid{
  display: grid;
}

.admin{
  composes: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "main"
}

.editor{
  composes: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "list content"
}
