@import '../../../../scss/colors';

.name{
  margin-top: 0.3em;
}

.title{
  color: $white;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase; 
  font-weight: 700;
  line-height: 1em;
}

.subtitle{
  color: $white;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase; 
  font-weight: 700;
  line-height: 0.6em;
}