.name{
  margin-top: 0.3em;
}

.title{
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase; 
  font-weight: 700;
  line-height: 1em;
}

.subtitle{
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase; 
  font-weight: 700;
  line-height: 1em;
}