@import '../../scss/colors';

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  border-bottom: 4px solid $off-white;
}

.listItem:last-child {
  border: 0;
}


.listItem:first-child  a{
  border: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.unit {
  color: $blue;
  display: flex;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
  width: calc(100% - 1em);
}

.unit:hover {
  color: $orange;
  cursor: pointer;
  text-decoration: none;
  //background-color: darken($white, 2%);
}

.addNew {
  composes: unit;
  background: $blue;
  color: $white;
}

.addNew:hover {
  color: $white;
  background-color: darken($blue, 5%);
}

.icon {
  text-align: left;
  width: 1.75em;
}

.name {
  font-family: 'Open Sans Condensed', sans-serif; 
  text-transform: uppercase; 
  font-weight: 700;
  text-align: left;
  flex: 7 4;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.points {
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 700;
  flex: 1 1 2em;
  text-align: right;
}